
{% extends 'base.html' %}

{% block content %}

        <h1>Biglietti Disponibili</h1>

        <table>
            <tr>
                <th>Biglietto</th>
                <th>Tipo</th>
                <th>Costo</th>
            </tr>

            {% for ticket in tickets %}
                <tr>
                    <td><a href="#">{{ ticket.nome }}</a></td>
                    <td>{{ ticket.tipologia }}</td>
                    <td>{{ ticket.costo }}</td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}