{% extends 'base.html' %}

{% block content %}

    <h1>Acquista Biglietto</h1>

    <h2>Dati Biglietto: </h2>

    <ul>
        <li>Nome biglietto: {{ ticket.nome }}</li>
        <li>Giorni di validita: {{ ticket.validitaGiorni }}</li>
        <li>Tipologia: {{ ticket.tipologia }}</li>
        <li>Costo: {{ ticket.costo }}</li>
    </ul>

    <form action="available_tickets.html" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Acquista"/>
    </form>
{% endblock %}