{% extends 'base.html' %}

{% block content %}
    <div id = "Biglietti_disponibili">

        <h2>Biglietti Disponibili</h2>

        <table id="tabella_biglietti">
            <tr>
                <th>Biglietto</th>
                <th>Tipo</th>
                <th>Costo</th>
            </tr>

            {% for ticket in tickets %}
                <tr>
                    <td><a href="{{ ticket.get_url }}">{{ ticket.nome }}</a></td>
                    <td>{{ ticket.get_tipologia_display }}</td>
                    <td>{{ ticket.costo }} €</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}