{% extends 'base.html' %}

{% block content %}
    <div id="acquista_biglietto">
    <h2>Acquista Biglietto</h2>

    <h3>Dati Biglietto: </h3>

    <ul>
        <li>Nome biglietto: {{ ticket.nome }}</li>
        <li>Giorni di validita: {{ ticket.validitaGiorni }}</li>
        <li>Tipologia: {{ ticket.get_tipologia_display }}</li>
        <li>Costo: {{ ticket.costo }}</li>
    </ul>

    <form action="{{ ticket.get_url }}" method="post">
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Acquista"/>
    </form>
    <a href="/add_card/"><button type="button">Aggiungi Carta</button></a>
    </div>
{% endblock %}