{% extends 'base.html' %}

{% block content %}
    <div id="Carte_di_credito">

        <h2>Carte di Credito</h2>

        <table>
            <tr>
                <th>Numero</th>
                <th>Mese di Scadenza</th>
                <th>Anno di Scadenza</th>
            </tr>

            {% for card in cards %}
                <tr>
                    <td><a href="{{ card.get_url }}">{{ card.numero }}</a></td>
                    <td>{{ card.mese_scadenza }}</td>
                    <td>{{ card.anno_scadenza }}</td>
                </tr>
            {% endfor %}
        </table> <br/>
        <a href="/add_card/"><button type="button">Aggiungi Carta</button></a>
    </div>

{% endblock %}