<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "IswBus/style.css" %}">
    <title>Bus Ticket ISW</title>
</head>
<body>

<header>
    <h1>ISW Bus Ticket</h1>
</header>
<div id="form_registrazione">
    <h2>Bus Ticket ISW: Sign up</h2>
    <form method="post" action="tickets/">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">Sign up</button>
    </form>
    <ul>
        <li>Sei già registrato?<br><a href="/login">Accedi</a></li>
    </ul>
</div>
</body>
</html>
