{% extends 'base.html' %}

{% block content %}
        <div id="biglietti_acquistati">
        <h1>Biglietti Acquistati</h1>

        <table>
            <tr>
                <th>Biglietto</th>
                <th>Data</th>
            </tr>

            {% for transaction in transactions %}
                <tr>
                    <td><a href="{{ transaction.get_url }}">{{ transaction.biglietto.nome }}</a></td>
                    <td>{{ transaction.data }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
{% endblock %}