body{
    background-image: url("immagini/ctm_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #e0e0d1;
}

#titolo_header{
    font-family: Impact, Charcoal, sans-serif;
    color: darkorange;
    text-align: center;
}

h1{
    font-family: Impact, Charcoal, sans-serif;
    color: darkorange;
    text-align: center;
}

ul#menu li{
    display: inline;
    margin-left: 40px;
    margin-right: 65px;
    text-align: center;
    text-align-last: justify;
    padding-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
}

#link_home{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align-last: justify;
}

/*ul{
    text-align: center;
    text-align-last: justify;
    padding-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
}*/

a{
    color: darkblue;
}

#Biglietti_disponibili{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#tabella_biglietti{
    margin: auto;
    padding-bottom: 15px;
}

#Carte_di_credito{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#Aggiungi_carta{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

.form{
    list-style: none;
    text-align: center;
}

#statistiche{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#biglietti_acquistati{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#acquista_biglietto{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 600px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#dettaglio_transazione{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 600px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#form_registrazione{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1
}

#modifica_carta{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#form_login{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 300px;
    margin-top: 100px;
    background-color:#e0e0d1
}

ul{
    list-style: none;
    text-align: initial;
}

table{
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
}

ul#menu a {
    padding: 5px 5px 0px 5px;
}

ul#menu a:visited, ul#menu a:link, ul#menu a:active{
    color: #333333;
    text-decoration: none;
}

ul#menu a:hover{
    text-decoration: none;
    border-bottom: 5px solid darkorange;
}

div#statistiche, div#Carte_di_credito, div#Aggiungi_carta, div#biglietti_acquistati, div#dettaglio_transazione, div#Biglietti_disponibili, div#form_login, div#form_registrazione, div#acquista_biglietto, div#modifica_carta {
    border: 3px solid darkorange;
    border-radius: 5px;
}

div#statistiche li{
    margin-bottom: 5px;
}

div#Aggiungi_carta li {
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
}

input#id_card_number, input#id_expiration_month, input#id_expiration_year, input#id_cvv{
    width: 191px;
    right: 0px;
}

input#id_expiration_month{
    margin-left: 40px;
}

input#id_expiration_year{
    margin-left: 40px;
}

input#id_cvv{
    margin-left: 82px;
}
