body{
    background-image: url("immagini/ctm_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: #e0e0d1;
}

#titolo_header{
    font-family: Impact, Charcoal, sans-serif;
    color: darkorange;
    text-align: center;
}

ul#menu li{
    display: inline;
    margin-left: 40px;
    margin-right: 65px;
    text-align: center;
    text-align-last: justify;
    padding-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
}

#link_home{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align-last: justify;
}

/*ul{
    text-align: center;
    text-align-last: justify;
    padding-bottom: 10px;
    font-family: Impact, Charcoal, sans-serif;
}*/

a{
    color: darkblue;
}

#Biglietti_disponibili{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#tabella_biglietti{
    margin: auto;
    padding-bottom: 15px;
}

#Carte_di_credito{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#Aggiungi_carta{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

.form{
    list-style: none;
    text-align: center;
}

#statistiche{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#biglietti_acquistati{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 400px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#acquista_biglietto{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 600px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

#dettaglio_transazione{
    margin:auto;
    text-align: center;
    padding:5px;
    width: 600px;
    margin-top: 100px;
    background-color:#e0e0d1;
}

ul{
    list-style: none;
    text-align: initial;
}

table{
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
}